body {
  text-align: center;
  font-family: sans-serif;
}

canvas {
  background-color: Snow ;
  margin-bottom : 200px;
  margin-top    : 200px;
  margin-left   : 200px;
  margin-right  : 200px;
}
